body {
	margin:0;
	padding:0;
	font-family:Lucida Sans,Lucida Grande,Arial;
	font-size:62.5%;
}

/*-----------------------------------------------
	SH. Site Header (generic)
-----------------------------------------------*/
#header {
 	margin: 0;
    padding: 0;
    background: url(../images/header/linen.jpg) repeat-x scroll left top;
    width: 100%;
    height: 78px;
    border-bottom: 1px solid #D8D8D8;
}
	#header .container {
	   width: 960px;
	    height: 78px;
	    text-align: left;
	    margin-left: auto;
	    margin-right: auto;
	    position: relative;
	}
	
	/*-----------------------------------------------
		SHL. Site Header - Logo
	-----------------------------------------------*/
	#header #logo {
	    display: inline-block;
	    position: absolute;
	    top: 3px;
	    margin: 0;
	}
	#header #logo a {
	    color: #fff;
	    text-decoration: none;
	    padding-top: 1em;
	    display: block;
	}
	#header #logo a img {
	    padding: 0;
		width:102px;
	    border: medium none;
	}

	/*-----------------------------------------------
	SHN. Site Header - Navigation
	-----------------------------------------------*/
	#header ul {
	    position: absolute;
	    bottom: 4px;
	    right: 235px;
	    margin: 0;
	    padding: 0 0 0 11.55em;
	    font-family: "Helvetica", "Arial", sans-serif;
	}
	#header ul li {
	    list-style: none;
	    display: inline;
	}
	#header li a {
	    margin: 0 1px;
	    padding: 7px 15px;
	    display: block;
	    float: left;
	    color: #fff;
	    font-size: 13px;
	    font-weight: bold;
	    line-height: 1.5em;
	    min-width: 62px;
	    text-decoration: none;
	    text-align: center;
	    letter-spacing: -0.0035em;
	    background-color: #5BAED5;
	    background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(0, 176, 216)), to(rgb(0, 136, 196)));
	    background-image: -webkit-linear-gradient(top, rgb(0, 176, 216), rgb(0, 136, 196));
	    background-image: -moz-linear-gradient(top, rgb(0, 176, 216), rgb(0, 136, 196));
	    background-image: -o-linear-gradient(top, rgb(0, 176, 216), rgb(0, 136, 196));
	    background-image: -ms-linear-gradient(top, rgb(0, 176, 216), rgb(0, 136, 196));
	    background-image: linear-gradient(top, rgb(0, 176, 216), rgb(0, 136, 196));
	    border-top: 1px solid #64D0E7;
	    -webkit-border-top-left-radius: 3px;
	    -webkit-border-top-right-radius: 3px;
	    -moz-border-radius-topleft: 3px;
	    -moz-border-radius-topright: 3px;
	    border-top-left-radius: 3px;
	    border-top-right-radius: 3px;
	    text-shadow: 0 -1px 0 rgba(0,0,0,.5);
	}

	#header .home a {
	    min-width: 15px;
	    width: 15px;
	    padding-bottom: 6px;
	}

	.dj_ie7 #header .home a {
	    padding-bottom: 12px;
	}

	#header li.active a {
	    font-weight: bold;
	    border-bottom: 3px solid #0099CC;
	}

	.homeIcon {
	    display: inline-block;
	    width: 16px;
	    height: 15px;
	}

	#header ul .homeIcon,
	.homePage #header ul .homeIcon {
	    background: url(../images/homeIcon.png) no-repeat 0 -15px;
	}

	#header ul .homeIcon { background-position: 0 0 }

	.homePage #header ul .home a,
	.demosPage #header ul .demos a,
	.downloadPage #header ul .download a,
	.featuresPage #header ul .features a,
	.communityPage #header ul .community a,
	.blogPage #header ul .blog a,
	.examplesPage #header ul .examples a,
	.docPage #header ul .docs a {
	    background: #FFF;
	    color: #656565;
	    text-shadow: none;
	    border-color: #FFF;
	}