/**
 * Main layout
 */
html {
	height: 100%;
	width: 100%;
}

body {
	width: 100%;
	margin: 0;
	font-family: Lucida Sans,Lucida Grande,Arial;
	font-size: 12px;
	display:table;
	background:white;
}

#accessibilityNode { /*no conflict with accessibility node on dijit.layout.TabContainer page*/
	font-size:1px;
	position:absolute;
	top:-9999px;
	padding: 1em 0;
	text-align:center;
}

#page {
	position: relative;
}

/**
 * Outer layout grid
 */

.innerBox {
	/*
	 * summary: used within head, foot, ... to center the outer box.
	 */
	width: 960px;
	margin: 0 auto;
	padding: 0px 10px;
	position: relative;
}

#main {
	padding: 55px 0px;
}
	
	#main .sidebar .mod {
		margin-bottom: 20px;
	}
	
	#main .sidebar h1 {
		padding-bottom:10px;
	}
	
	#main .spacer {
		padding-right: 90px;
	}

.footer {
	border-top:1px solid #CCCCCC;
	color:#333333;
	font-size:0.8em;
	height:24px;
	left:0;
	padding-top:13px;
	margin-top:20px !important;
}

#main em.xref,
#main .internal em { 
	font-style:normal;
}

/**
 * main content
 */
#contentLeft {
	float: left;
	width: 575px;
	padding-right: 20px;
	position: relative;
	background: url(../images/sepLrg.gif) no-repeat right 30px;
}

#contentNavRight {
	float: right;
	width: 250px;
}

#contentRight {
	float: right;
	width: 655px;
	position: relative;
}

#contentNavLeft {
	float: left;
	width: 180px;
	background: url(../images/sepLrg.gif) no-repeat right 30px;
	padding-right: 10px;
}

.clearfix {
	visibility: hidden;
	clear: both;
}



/**
 * Common
 */
.displayNone {
	display: none;
}

/*-----------------------------------------------
	The styles for the subnavigational elements.
-----------------------------------------------*/
.subnav {
	list-style: none;
	margin: 6px 0 0 0;
	padding: 0;
	float: right;
}
	.subnav li {
		font-size: 12px;
		line-height: 14px;
		height: 26px;
		display: inline;
	}
		.subnav li a {
			display:inline;
			float: left;
			margin: 0 8px 0 0;
			text-decoration: none;
			color: #004fb1;
			height: 26px;
  	}
			.subnav li a span {
				display: block;
				padding: 4px 12px 8px 0;
				margin: 0 0 0 12px;
			}
			
		.subnav li.active a,
		.subnav li a:hover {
			color: #050b10;

		}
			.subnav li.active a span,
			.subnav li a:hover span {

			}

#intro {
    background: url(../images/homeHeaderBg.jpg) no-repeat center top;
		margin-top:30px;
}

    #intro .line {

        padding:35px 0 27px 275px;
    }

    #intro .firstUnit {

    }

#main {
	padding: 0px 0px;
}

	#main .firstUnit {

	}
	
	#main .sidebar .mod {
		margin-bottom: 20px;
	}
	
	#main .sidebar h1 {
		padding-bottom:10px;
	}

.spacer {
	padding-right: 20px;
}

.rightUnitSpacer {
	margin-right: 2em;
}

.leftUnitSpacer {
	margin-left: 2em;
}

#foot {
	height: 24px;
	left: 0px;
	color: #333;
	font-size: 0.8em;
	padding-top: 13px;
}

/**
 * main content
 */
#contentLeft {
	float: left;
	width: 575px;
	padding-right: 20px;
	position: relative;
	background: url(../images/sepLrg.gif) no-repeat right 30px;
}

#contentNavRight {
	float: right;
	width: 250px;
}

#contentRight {
	float: right;
	width: 655px;
	position: relative;
}

#contentNavLeft {
	float: left;
	width: 180px;
	background: url(../images/sepLrg.gif) no-repeat right 30px;
	padding-right: 10px;
}

/* reference:
 *	 http://www.positioniseverything.net/easyclearing.html
 *	 http://www.zeldman.com/2006/10/27/ie7fixes1/
 *		comment by michael on 10/28/2006
 */
.clearfix {
	min-height: 1%;
}

.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

/* hides from ie5-mac \*/
* html .clearfix { height: 1%; }
/* end hide from ie5-mac */





#contents, .logowelcome {
	display:none;
}

a.toc-backref:link, a.toc-backref:hover, a.toc-backref:visited {
	color:#333 !important;
	text-decoration:none !important;
}

.sidebar .sphinxsidebar h4 {
	background:none;
	border:none;
	box-shadow: none;
	margin:0.35em 0;
	padding:0;
	font-weight:normal;
	padding-left:15px;
}


.sphinxsidebar h3 {
	font-size:13px;
	border-top:1px solid #ccc;
	padding-top:1.5em;
	padding-left:15px;
	margin:20px 0 5px 0;
}

.sphinxsidebar h3 a:link, .sphinxsidebar h3 a:visited {
	color:#333;
}

.sphinxsidebar ul {
	padding:0 0 0 0;
	margin:0;
}

.sphinxsidebar li {
	list-style-type:none;
	padding:0.5em 0;
}

.sphinxsidebar ul li ul {
	margin:0 0 0.75em 0;
}

.sphinxsidebar p.topless {
	padding-left:20px;
}

#dtkVersion {
	margin: 20px 0 5px;
	padding-left: 15px;
}

.section h1,
.section h2,
.section h3,
.section h4,
.section h5,
.section h6 {
	color:#27221F;
	font-family:Helvetica,Arial,Sans-Serif;
	letter-spacing:-1px;
	line-height:1.1em;
	margin-top:20px;
	margin-bottom:10px;
	font-weight:normal !important;
}

.section h1 {
	font-size:30px;
	margin-bottom:0 !important;
	margin-top:0;
	padding-top:0;
}

.section h2 {
	font-size:24px;
	margin-top:40px;
	padding:0;
}

.section h3 {
	font-size:22px;
}

.section h4 {
	font-size:20px;
}

.section h5 {
	font-size:18px;
}

.section h6 {
	font-size:16px;
}

.section p,
.section ul,
.section dl,
.section ol,
.section div {
	color:#333333;
	line-height:1.5em;
	font-size:14px;
}

.section ul {
	list-style-position:outside;
	list-style-type:disc;
}

.section .highlight pre{
	background-color:#F7F7F7;
	font-family:"Consolas","Bitstream Vera Sans Mono","Courier New",Courier,monospace;
	font-size:14px;
	padding:10px;
}

.section .footnote-reference {
	vertical-align: super;
	font-size: 90%;
}

.highlight-javascript {
	margin:1.5em 0 0.5em 0;
}

.sidebar h4 {
	height: 34px;
	line-height: 34px;
	font-weight: normal;
	padding: 0 1em;
	margin: 0;
	border: 1px solid #ececec;
	border-radius: 6px;
	text-transform: uppercase;
	text-shadow: 0 1px 0 #FFF;
	box-shadow: 0 1px 0 #ccc, 0 1px 0 #fff inset;
	background: #e9e9e9;
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.09, #f4f4f4),
		color-stop(0.78, #fefefe)
	);
	background-image: -moz-linear-gradient(
		center bottom,
		#f4f4f4 9%,
		#fefefe 78%
	);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FEFEFE', endColorstr='#F4F4F4');
}

.sidebar ul {
	margin:10px 0;
	padding-left: 15px;
}

.sidebar ul li {
	list-style-type:none;
	padding:0.3em 0;
}

.section ul li {
	list-style-type:none;
}

ul.simple li {
	list-style-type:disc !important;
}

.section ul li ul {
	margin-bottom:2em;
}

.section ul li p {
	padding-left:1em;
}

.section ul li p.first {
	font-weight:bold;
	padding: 5px 0 2px 0;
	margin-bottom:0;
}

.section .pre {
	padding: 2px;
}

.codeGlass .show {
	margin-top:20px;
	margin-bottom:10px;
}

.simple li {
	padding:0.25em 0;
}

.sidebar #searchbox h3 {
	color:#000;
	font-size:13px;
	margin:5px 0;
}

.sidebar #searchbox form {
	margin-left:15px;
}

.sidebar #searchbox .searchtip {
	margin-top:10px;
}

#resultbox {
	border: 3px solid #999;
	background:#fff;
	padding:15px;
	width:420px;
	margin-top:5px;
	margin-bottom:10px;
	color:#000;
	position:absolute;
	right:0;
	z-index:20;
	-webkit-box-shadow:0 0 10px #333;
	-moz-box-shadow:0 0 10px #333;
	outline:none;
}
 
#googlesearch, #sitesearch {
	margin-left:20px;
}

#header form span.gs-spacer {
	background:none;
	display:inline;
	width:auto;
	height:auto;
}

.googleheader {
	margin:5px 0;
	font-weight:bold;
} 
 
/* Google Style Hacks */
.gsc-search-box, .gsc-configLabelCell {
	display:none;
}
.gsc-control {
	width:100%;
}
 
.gsc-tabHeader {
	display:none;

} 

/* Link Colour */
#resultbox a, .gs-title, .gs-title b {
	font-size:13px;
	font-weight:bold;
	color:#2253AA !important;
}
.gs-visibleUrl, .gs-visibleUrl-short {
	color:#666 !important;
}

#searchClose {
	text-align:right;
}

#searchClose a {
	font-size:10px !important;
	color:#cc0000;
	cursor:pointer;
}


#resultbox_underlay {
	opacity:0;
}
