/**
 * General inline styles
 */

#main h1 {
    margin: 0 0 25px 0;
}

h4.icon {
    padding: 4px 0 0 27px;
}

table th {
    background-color:#DDDDDD;
    font-size:11px;
    padding:0.6em;
}

table td {
    border-collapse:collapse;
    border:1px solid #FFFFFF;
    border-width:0 1px 1px 0;
    font-size:11px;
    padding:0.6em;
}

.hide {
    display:none;
}

.pageTitleContainer {
	padding:0em 0 1.5em 0;
	border-bottom:1px solid #ccc;
	margin-bottom:2em;
	margin-top:35px;

}

.dj_ie .pageTitleContainer {
	position:relative;
	height:25px;
}

.dj_ie .pageTitleContainer h1 {
	position:absolute;
	left:0;
}

/**
 * text
 */
.notice {
    color: #e52b00;
}

/* special style for inlined images */
img.inlined {
	border: 1px solid #ccc;
	padding: 2px;
	margin: 12px 0 12px;
}

a img {
    border: none;
}

input {
    color:#666666;
    font-style:italic;
}

/* intro text styles */
.introText {
    font-size:2.5em;
    color:#1BA6DF;
    font-weight:bold;
	margin:0;
	padding:0;
	position:relative;
	top:-5px;
}

.introText em, h1 em {
	font-style:normal;
	color:#196daa;
}

.introSubText {
	width:70%;
    font-size:1.15em;
    color:#666666;
    padding-bottom:20px;
	line-height:1.76em;
	font-weight:normal;
	padding-top:0;
	margin-top:0px;
	position:relative;
}

.introSubText img {
	display:block;
	margin-top:18px;
}


.companiesStrip {
	background:#0B8CD4 url("../images/companiesStripBg.gif") repeat-x bottom left;
	height:37px;
	margin-bottom:55px;
}

.companiesStrip img {
	vertical-align:middle;
	margin-right:10px;
}

.featuresGrid {
	margin-top:25px;
	margin-bottom:55px;
	clear:left;
}

.featuresGrid h2, .featuresGrid h2 a:link, .featuresGrid h2 a:visited {
	margin:0;
	padding:0;
	font-size:15px;
	color:#cc0000;
}

.featuresGrid .iconContainer {
	width:75px !important;
	padding:0 10px;
}

table.docutils {
	border-collapse:collapse;
}

table.docutils th {
	text-align:center;
	font-size:14px;
	padding:3px;
}

table.docutils td {
	font-size:14px;
	padding:3px;
}

table.docutils .first {
	font-weight: normal;
	margin-top: 0;
}

.field-list th {
	text-align:right !important;
	padding:3px 12px 3px !important;
}

/* icons */

.star {
    background: url("../images/icons/star.png") no-repeat;
    height: 22px;
}

.check {
    background: url("../images/icons/check.png") no-repeat;
    height: 22px;
}


/* downloads */
.downloadInfo li ul {
  list-style:none;
  margin-right:18px;
  padding-left:30px;
}

ul.downloadInfo {
	padding-left:10px;
	border-bottom:1px solid #ddd;
	padding-bottom:15px;
	margin-bottom:30px;
	margin-left:0;
	clear:left;
}

.downloadInfo ul.inlineList {
  margin: 15px 0 10px 0;
  padding:0;
  padding-left:0;
  font-size:1.2em;
}

.downloadInfo ul.inlineList li img {
	margin-right:7px;
}

.downloadInfo ul.inlineList li {

}

.downloadInfo li ul li {
  float:left;
  padding-right:8px;
}

.featureExplorer {
    width:546px;
}

    .featureExplorer .line {
        margin-bottom:10px;
    }

    .featureExplorer p {
        margin-bottom:3px;
    }

.feature {
    overflow:hidden;
    position:relative;
    height:81px;
    width:82px;
    display:block;
}

    .feature:hover {
        opacity:0.4;
        filter:alpha(opacity=40);
    }

    .feature .bg {
        background: url(../images/overlays/featured.png) no-repeat;
        overflow:hidden;
        position:absolute;
        top:0;
        left:0;
        height:81px;
        width:82px;
        cursor:pointer;
        z-index:1;
    }


/* Temp TYPE rules */


.codeSample {
	border:1px solid #ccc;
	background:#ffffeb;
	padding:5px;
}


/*  Download Page Styling */
.buttonShelf {
	margin:50px 0 35px 0;
	background:url("../images/buttonShelf.png") no-repeat 50% 100%;
	height:115px;
	text-align:center;
}

.buttonShelf a:link img, .buttonShelf a:visited img {
	border:none;
	margin:0 15px;
}

#popularSolutions {
	margin-top:15px;
	border-bottom:1px solid #ccc;
}

#popularSolutions strong {
	color:#999999;
}

#popularSolutions ul {
	margin:5px 0 20px 15px;
}


#popularSolutions ul li {
	list-style-type:none;
	padding:0.4em 0;
	margin:0;
}

#popularSolutions .unit {
	padding-left:15px;
}

#books a {
	margin-right:15px;
}