@import "../dijit/themes/claro/claro.css";
@import "../dojox/widget/Dialog/Dialog.css";

body, html {
    margin:0; padding:0;
    width:100%;
    height:100%;
}

body.wikidocs {
    font-size:small;
    font-family:verdana,sans-serif;
    font-voice:inherit;
    line-height:1.3em;
}

.wikidocs .wrap {
    width:960px;
    margin:0 auto;   
}

.wikidocs #contents {
    border:1px dashed #666;
    background: #eee;
    padding:0 15px 10px 15px;
    margin:15px 0;
}

.wikidocs #contents .simple {
    margin:5px;
    padding-left:15px;
    padding-right:5px;
}

.wikidocs .section h2, 
.wikidocs .section h1 {
    border-bottom:1px solid #666;
    line-height:1.7em;
}

.wikidocs .section h1 a,
.wikidocs .section h2 a,
.wikidocs .section a.toc-backref {
    text-decoration:none;
}

.wikidocs .section h1 a:link,
.wikidocs .section h2 a:link,
.wikidocs .section a.toc-backref:link {
    color:#101010;
    text-decoration:none;
}

.wikidocs .section h1 a:visited,
.wikidocs .section h2 a:visited,
.wikidocs .section a.toc-backref:visited {
    color:#101010;
    text-decoration:none;
}

.wikidocs .section h1 a:hover,
.wikidocs .section h2 a:hover,
.wikidocs .section a.toc-backref:hover {
    color:#666;
    text-decoration:none;
}

.wikidocs #rstwiki-nav a { color:#000; }
.wikidocs #rstwiki-nav a:link { color:#000; text-decoration:underline; }
.wikidocs #rstwiki-nav a:visited { color:#101010; text-decoration:underline; }
.wikidocs #rstwiki-nav a:hover { color:red; text-decoration:underline; }

.wikidocs .head {
    background:#ededed;
    border-bottom:1px solid #666;
}

.wikidocs .crumbs {
    padding-top:10px;
    padding-bottom:10px;
}

.wikidocs .document { 
    padding:5px 0 25px 0; 
    position:relative; 
}

.wikidocs .highlight .hll { background-color: #ffffcc }

.wikidocs .highlight { border:1px dashed #666; padding:5px 15px; background: #f8f8f8; }
.wikidocs .highlight pre { width:100%; overflow:auto; font-size:94.2%; }
.wikidocs .highlight .c { color: #408080; font-style: italic } /* Comment */
.wikidocs .highlight .err { /* border: 1px solid #FF0000 */ } /* Error */
.wikidocs .highlight .k { color: #008000; font-weight: bold } /* Keyword */
.wikidocs .highlight .o { color: #666666 } /* Operator */
.wikidocs .highlight .cm { color: #408080; font-style: italic } /* Comment.Multiline */
.wikidocs .highlight .cp { color: #BC7A00 } /* Comment.Preproc */
.wikidocs .highlight .c1 { color: #408080; font-style: italic } /* Comment.Single */
.wikidocs .highlight .cs { color: #408080; font-style: italic } /* Comment.Special */
.wikidocs .highlight .gd { color: #A00000 } /* Generic.Deleted */
.wikidocs .highlight .ge { font-style: italic } /* Generic.Emph */
.wikidocs .highlight .gr { color: #FF0000 } /* Generic.Error */
.wikidocs .highlight .gh { color: #000080; font-weight: bold } /* Generic.Heading */
.wikidocs .highlight .gi { color: #00A000 } /* Generic.Inserted */
.wikidocs .highlight .go { color: #808080 } /* Generic.Output */
.wikidocs .highlight .gp { color: #000080; font-weight: bold } /* Generic.Prompt */
.wikidocs .highlight .gs { font-weight: bold } /* Generic.Strong */
.wikidocs .highlight .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
.wikidocs .highlight .gt { color: #0040D0 } /* Generic.Traceback */
.wikidocs .highlight .kc { color: #008000; font-weight: bold } /* Keyword.Constant */
.wikidocs .highlight .kd { color: #008000; font-weight: bold } /* Keyword.Declaration */
.wikidocs .highlight .kn { color: #008000; font-weight: bold } /* Keyword.Namespace */
.wikidocs .highlight .kp { color: #008000 } /* Keyword.Pseudo */
.wikidocs .highlight .kr { color: #008000; font-weight: bold } /* Keyword.Reserved */
.wikidocs .highlight .kt { color: #B00040 } /* Keyword.Type */
.wikidocs .highlight .m { color: #666666 } /* Literal.Number */
.wikidocs .highlight .s { color: #BA2121 } /* Literal.String */
.wikidocs .highlight .na { color: #7D9029 } /* Name.Attribute */
.wikidocs .highlight .nb { color: #008000 } /* Name.Builtin */
.wikidocs .highlight .nc { color: #0000FF; font-weight: bold } /* Name.Class */
.wikidocs .highlight .no { color: #880000 } /* Name.Constant */
.wikidocs .highlight .nd { color: #AA22FF } /* Name.Decorator */
.wikidocs .highlight .ni { color: #999999; font-weight: bold } /* Name.Entity */
.wikidocs .highlight .ne { color: #D2413A; font-weight: bold } /* Name.Exception */
.wikidocs .highlight .nf { color: #0000FF } /* Name.Function */
.wikidocs .highlight .nl { color: #A0A000 } /* Name.Label */
.wikidocs .highlight .nn { color: #0000FF; font-weight: bold } /* Name.Namespace */
.wikidocs .highlight .nt { color: #008000; font-weight: bold } /* Name.Tag */
.wikidocs .highlight .nv { color: #19177C } /* Name.Variable */
.wikidocs .highlight .ow { color: #AA22FF; font-weight: bold } /* Operator.Word */
.wikidocs .highlight .w { color: #bbbbbb } /* Text.Whitespace */
.wikidocs .highlight .mf { color: #666666 } /* Literal.Number.Float */
.wikidocs .highlight .mh { color: #666666 } /* Literal.Number.Hex */
.wikidocs .highlight .mi { color: #666666 } /* Literal.Number.Integer */
.wikidocs .highlight .mo { color: #666666 } /* Literal.Number.Oct */
.wikidocs .highlight .sb { color: #BA2121 } /* Literal.String.Backtick */
.wikidocs .highlight .sc { color: #BA2121 } /* Literal.String.Char */
.wikidocs .highlight .sd { color: #BA2121; font-style: italic } /* Literal.String.Doc */
.wikidocs .highlight .s2 { color: #BA2121 } /* Literal.String.Double */
.wikidocs .highlight .se { color: #BB6622; font-weight: bold } /* Literal.String.Escape */
.wikidocs .highlight .sh { color: #BA2121 } /* Literal.String.Heredoc */
.wikidocs .highlight .si { color: #BB6688; font-weight: bold } /* Literal.String.Interpol */
.wikidocs .highlight .sx { color: #008000 } /* Literal.String.Other */
.wikidocs .highlight .sr { color: #BB6688 } /* Literal.String.Regex */
.wikidocs .highlight .s1 { color: #BA2121 } /* Literal.String.Single */
.wikidocs .highlight .ss { color: #19177C } /* Literal.String.Symbol */
.wikidocs .highlight .bp { color: #008000 } /* Name.Builtin.Pseudo */
.wikidocs .highlight .vc { color: #19177C } /* Name.Variable.Class */
.wikidocs .highlight .vg { color: #19177C } /* Name.Variable.Global */
.wikidocs .highlight .vi { color: #19177C } /* Name.Variable.Instance */
.wikidocs .highlight .il { color: #666666 } /* Literal.Number.Integer.Long */

textarea {
    font-family: monospace;
    font-size: 10pt;
    color:#101010;
    border:0;
}


.wikidocs .resp button {
    margin:0.6em 0;
}

.wikidocs .editor {
    border:1px solid #666;
}

.wikidocs #editorhandle {
    padding:0.4em;
    width:100%;
    margin:0; padding:0;
    border-top:1px solid #666;
    background:#ededed;
    height:8px;
}

.wikidocs #editorhandle a { display:none; }

.wikidocs #rstwiki-nav {
    margin-top:10px;
    float:right;
}

.wikidocs .resp h1 {
    margin-top:15px;
}

.wikidocs .resp label,
.wikidocs #files label { display:block; }

.wikidocs .bloc { margin:0.7em 0; }

.wikidocs input {
    padding:0.4em;
    border:1px solid #666;
    color:#101010;
}

.CodeGlassMini {
    padding:0 0 5px 0;
    position:relative;
    border-top:1px dashed #666;
}

.CodeGlassMini.closed {
   background:#f8f8f8;
}
.closed .CodeGlassMiniInner {
    display:none;
}

.closed .CodeGlassMiniInner:before {
    content:"Example Code";
}
.CodeGlassMini + .CodeGlassMini {
    margin-top:15px;
}

.CodeGlassMiniCollapser {
    position:absolute;
    top:-8px;
    left:-36px;
    width:18px;
    height:18px;
    text-indent:-999px;
    background:url("../dijit/themes/claro/images/treeExpandImages8bit.png") no-repeat -36px 0;
}

.CodeGlassMiniCollapser:hover {
    background-position:-54px 0;
}

.closed .CodeGlassMiniCollapser {
    background-position:0 0
}

.closed .CodeGlassMiniCollapser:hover {
    background-position:-18px 0;
}

.CodeGlassMiniRunner {
    position:absolute;
    left:-20px;
    top:-8px;
    width:18px;
    height:18px;
    text-indent:-999px;
    background:url("../dijit/themes/claro/images/calendarArrows8bit.png") no-repeat -18px 0;
    overflow:hidden;
}

.CodeGlassMiniRunner:hover {
    background-position:-91px 0;
}

/* the wrap stuff is hackish */
.CodeGlassMini pre {
    overflow:auto;
    width:100%;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
}

.wikidocs .highlight + .CodeGlassMiniRaw + .highlight, 
.wikidocs .highlight + .CodeGlassMiniRaw + .highlight + .CodeGlassMiniRaw + .highlight {
    margin-top:1em;
}

.CodeGlassMiniRaw {
    display:none;
}

.live-example {
    position:relative;
}

.live-example .inner {
    padding:5px 15px;
    border-left:1px dotted #666;
    background-color:#f8f8f8;
}

.live-example a {
    position:absolute;
    left:-20px;
    top:0;
}

.live-example .closed {
    display:none;
}

/* editor */
.preview > .document{
    background-color: #FCFFC7;
    background-transparency: none;	
}

.rstEditor {
    margin-top:5px;
    width:100%;
    border:1px solid gray;
    overflow: none;
}

#rstwiki-editorMessage {
    font-size:75%;
    font-weight:normal;
}

#rstwiki-footer {
    font-size:65%;
}
