#extends master
#import cherrypy
#set global $req = $cherrypy.request
#block contentBlock
<form method='POST' action="${req.script_name}${req.path_info}">
    <div class='resp'>
        <h1>Editing ${req.script_name}${req.path_info}</h1>

        <div class="editor">
            <textarea id='rstwiki-editor' resizeable='true' name='content' style='width:100%; height:420px;'>${rst.document}</textarea>
            <div id='rstwiki-editorhandle'><a href="#">-</a></div>
        </div>
        
        <div class="bloc">
            <label for="message">Description of Changes:</label>
            <input type="text" name="message" id="rstwiki-message" style="width:75%">
        </div>
		
		<input type="hidden" name="action" value="edit">
        
        <button type='submit'>Save</button> 
        <button type='reset' id='rstwiki-canceler'>Cancel</button>
    
    </div>
</form>
<script type="text/javascript">
	require(["docs/editor"]);
</script>
#end block
