#extends master

#block contentBlock
<form method='POST' action="${root}${requestDir}">
    <div class='resp'>
        <h1>Editing ${requestDir}${requestFile}</h1>

        <div class="editor">
            <textarea id='editor' resizeable='true' name='content' style='width:100%; height:420px;'>${rst.document}</textarea>
            <div id='editorhandle'><a href="#">-</a></div>
        </div>
        
        <div class="bloc">
            <label for="message">Description of Changes:</label>
            <input type="text" name="message" id="message" style="width:75%">
        </div>
        
        <button type='submit'>Save</button> 
        <button type='reset' id='canceler'>Cancel</button>
    
    </div>
</form>
<script src='${root}/CodeMirror/js/codemirror.js'></script>
<script src='${root}/docs/editor.js'></script>
#end block
