<div>
    <form action="/{{path}}" method="POST">
        <h2>Login:</h2>
        
        <label for="uname">Username:</label>
        <input type="text" name="uname" id="uname" size="10">
        
        <label for="pw">Password:</label>
        <input type="password" name="pw" id="pw">
    
        <input name="login" value="1" type="hidden">
        
        <button type="submit">Login</button>

        <p>Login using your credentials obtained from <a href="http://my.dojofoundation.org">my.dojofoundations.org</a>. 
            This is a shared login for a number of <a href="http://dojotoolkit.org/">dojotoolkit.org</a> sites.
        </p>
        
    </form>
</div>