#extends master

#block contentBlock 
<div>
    <form action="/auth/login?from_page=$root${from_page}" method="POST">
        <h2>Login:</h2>
        
        <label for="username">Username:</label>
        <input type="text" name="username" id="username" size="10">
        
        <label for="password">Password:</label>
        <input type="password" name="password" id="password">
        
        <button type="submit">Login</button>

        <p>Login using your credentials obtained from <a href="http://my.dojofoundation.org">my.dojofoundations.org</a>. 
            This is a shared login for a number of <a href="http://dojotoolkit.org/">dojotoolkit.org</a> sites.
        </p>
        
    </form>
</div>
#end block
