<!doctype html>
<html>
<head>
    <title>{{title}}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" href="{{root}}/docs/wiki.css">
    <script src="{{root}}/dojo/dojo.js"></script>
</head>
<body class='wikidocs'>
    <div class="wrap">
        <div id="rstwiki_nav">{{nav}}</div>        
        <div id="crumbs">{{crumbs}}</div>
    </div>
    <div class="wrap">
        {{body}}
    </div>
    <div class="wrap">{{foot}}</div>
    <script src="{{root}}/docs/wiki.js"></script>
</body>
</html>
