<!DOCTYPE html>
#implements respond
#import cherrypy
#set global $req = $cherrypy.request
<html>
<head>
    <title>
        #if $getVar('title', None) is not None:
            $title
        #end if
        $action $req.path_info
    </title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" href="${static}docs/resources/wiki.css">
	<script type="text/javascript">
		dojoConfig = {
			async: true,
			deps: ["docs/wiki"]
		}
	</script>
    <script type="text/javascript" src="${static}dojo/dojo.js"></script>
</head>
<body class='claro wikidocs'>
    <div id="rstwiki-head" class="head">    
        <div class="wrap">
            <div id="rstwiki-nav">
                <span id="rstwiki-editControls" style="display:none">
                    <a id="rstwiki-saveButton" href='#save'>save</a>
                    <a id="rstwiki-resetButton" href='#reset'>reset</a>
                </span>
                $nav()
            </div>
            <div id="rstwiki-crumbs"><div class='crumbs'>$crumbs()</div></div>
        </div>
    </div>
    
    <div id="rstwiki-contentPanel" class="wrap">
    #if $getVar('rst', None) is not None
        <div id="redirectlink">
            <div id="closer"><a href="#">X</a></div>
            <span>WARNING:</span> This is <strong>WORK IN PROGRESS</strong> documentation for the <strong>NEXT</strong> version of Dojo.<br/>
        </div>
    #end if
    #block contentBlock 
        $rst.render 
    #end block
    </div>
    <div id="rstwiki-footer">
        #if $action != "Login" and $action != "upload":
        <div class="wrap">
            $foot()
        </div>
        #end if        
    </div>    
</body>
</html>

#def nav
    #if  $getVar('user',None) is not None:
       #if $editable:
           #if $action != "edit":
        <a id="rstwiki-editActionButton" href='${req.script_name}$req.path_info?action=edit'>edit</a>
           #end if 
           #if $action != "upload":
        <a href='${req.script_name}$req.path_info?action=upload'>upload</a>
           #end if
       #end if
        <a href='/auth/logout'>logout</a>
       | $user.uname
    #else:
        #if $action != "Login":
        <a href='/auth/login?from_page=$req.path_info'>login</a>
        #end if
    #end if
#end def

#def crumbs()
         #set $parts = ($req.script_name + $req.path_info).split('/')
         #set $cpath = "" 
                   <a href="/">home</a>
         #for $part in $parts
              #if $part!='':
                   #set $cpath=$cpath+"/"+$part 
                   / <a href="$cpath">$part</a>
              #end if
         #end for  
#end def

#def foot
    #if $action == "view" and $req.githublink is not None:
    <a id="rstwiki-blame" href='${req.githublink}/blame/master${req.relativeResourcePath}'>blame</a>
    <a id="rstwiki-history" href='${req.githublink}/commits/master${req.relativeResourcePath}'>history</a>
    <a id="rstwiki-tree" href="${req.githublink}/blob/master${req.relativeResourcePath}">browse</a>
    #end if
#end def
