<!doctype html>
#implements respond
#import cherrypy
#set global $req = $cherrypy.request
<html>
<head>
    <title>$action $req.path_info</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" href="${req.script_name}/_static/docs/wiki.css">
    <script src="${req.script_name}/_static/dojo/dojo.js"></script>
</head>
<body class='claro wikidocs' >

    <div id="head" class="head">
#if $action!="Login"
        <div class="wrap"> 
		<textarea id="rstEditor" dojoType="docs.RstEditor" class="rstEditor" style="height:0px;display:none">
#if $rst.document 
$rst.document
#end if
#end if
</textarea>
	</div>
        <div class="wrap">
		<div id="rstwiki_nav">
			<span id="editorMessage"></span>
			<span id="editControls" style="display:none">
				<a id="resetButton" href='#save'>reset</a>
				<a id="saveButton" href='#save'>save</a>
			</span>
			$nav()
		</div>
		
		<div id="crumbs">
			<div class='crumbs'>
				$crumbs()
			</div>
		</div>
        </div>
    </div>
    
    <div id="previewPanel" class="wrap preview"></div>
    <div id="contentPanel" class="wrap">
	#block contentBlock 
		$rst.render	
	#end block
    </div>
    <script src="${req.script_name}${static}docs/wiki.js"></script>
    <script>
	dojo.require('docs.RstEditor');	
    </script>
</body>
</html>





#def nav
    #if  $getVar('user',None) is not None:
       #if $editable:
           #if $action != "edit":
		<a id="editActionButton" href='${req.script_name}$req.path_info?action=edit'>edit</a>
           #end if 
           #if $action != "upload":
		<a href='${req.script_name}$req.path_info?action=upload'>upload</a>
           #end if
       #end if
		<a href='/auth/logout'>logout</a>
    #else:
        #if $action != "Login":
		<a href='/auth/login?from_page=$req.path_info'>login</a>
        #end if
    #end if
#end def

#def crumbs()
         #set $parts = ($req.script_name + $req.path_info).split('/')
         #set $cpath = "" 
                   <a href="/">home</a>
         #for $part in $parts
              #if $part!='':
                   #set $cpath=$cpath+"/"+$part 
                   / <a href="$cpath">$part</a>
              #end if
         #end for  
#end def
