<div class="loginbox">
    <form action="/{{path}}" enctype="multipart/form-data" method="POST">
        <h2>Upload File(s)</h2>
        
        <input type="hidden" name="upload" value="1">
        
        <div id="files">

            <label for="uploadfile">Select file:</label>
            <input type="file" name="uploadfile" id="uploadfile">

        </div>
    
        <a href="#morefiles">Add another file</a>
        
        Destination will be rooted in {{path}}
    
        <button type="submit">Upload</button>
    </form>
</div>