<div class="loginbox">
    <form action="/{{path}}" enctype="multipart/form-data" method="POST">
        <h2>Upload File(s)</h2>
        
        <p>Destination is: {{path}}</p>

        <input type="hidden" name="upload" value="1">

        <div class="bloc">
           <a id="morefiles" href="#morefiles">Add another file</a>
        </div>
                   
        <div id="files">

            <div class="bloc">
            <label for="uploadfile">Select file:</label>
            <input type="file" name="uploadfile" id="uploadfile">
            </div>

        </div>

        <button type="submit">Upload</button>

    </form>
    
    <script src="/_static/docs/upload.js"></script>
        
</div>